<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/car-sticker.css}">
  <title>Hello, world!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/4b64c3ab5c.js" crossorigin="anonymous"></script>


</head>
<body>
<!-- üst taraf navigasyon bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark  mb-2">

    <a class="navbar-brand" href="#"><i class="fas fa-university text-success"></i> Student Registration System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
                <a class="nav-link " th:href="'/ta/'+${teaching_assistant.getId()}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="'/ta/'+${teaching_assistant.getId()} + '/submit-grades'">Submit Grades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" >Enter Attendance <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link current" th:href="'/ta/'+${teaching_assistant.getId()} + '/car-stickers'">Car Stickers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout/">Logout <i class="fas fa-sign-out-alt"></i><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


    <div class="row" style="width: 100%;">
        <div class="col-2" id="smallStudentInfo">

            <!-- sol taraf öğrenci sectionu -->
            <div class="card w-100 ml-3" style="width: 18rem;">
                <div class="card-header text-center">
                    Teaching Assistant Information
                </div>
                <img th:src="@{/assets/ta.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${teaching_assistant.getFirstname()} + ' ' + ${teaching_assistant.getLastname()}">Hallederiz Kadir</h5>
                    <h5 class="card-text text-center" th:text="${teaching_assistant.getDept_name()}"> Department of Computer Engineering</h5>
                    <h6 class="card-text text-center" th:text="${teaching_assistant.getId()}">ID: 99999999</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <table class="table table-striped table-sm info-table">
                            <tbody>
                            <tr>
                                <th scope="row" >Office Room</th>
                                <td th:text="${teaching_assistant.getOffice_no()}">EA422</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-striped table-sm info-table">
                            <tbody>
                            <tr>
                                <th scope="row">Mobile Phone:</th>
                                <th th:text="${teaching_assistant.getPhone_number()}">5525585706</th>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="list-group-item">Contact Mail:</li>
                    <li class="list-group-item" style="font-size: 75%;" th:text="${teaching_assistant.getMail()}">hallederiz.kadir@ug.bilkent.edu.tr</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Update Information <i class="fas fa-user-edit"></i></a>
                </div>
            </div>

        </div>

        <button type="button" class="btn"  id="hideButton"><i class="fas fa-angle-double-left"></i></button>
        <button type="button" class="btn d-none ml-3"  id="showButton"><i class="fas fa-angle-double-right"></i></button>    
        
        <div class="col-6" style="margin-left: 15%;">
            <div class="row">
                <h4 class="table-header">Driver Information</h4>
                <table class="table table-striped table-sm">
                  <thead>
                     <th scope="col">Driver Licence No</th>
                     <th scope="col">Driver Name</th>
                     <th scope="col">Driver Surname</th>
                     <th scope="col">Penalty Point</th>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" th:text="${driver.getDriver_license_no()}">123456789</th>
                      <th th:text="${driver.getFirstname()}">Hallederiz</th>
                      <th th:text="${driver.getLastname()}">Kadir</th>
                      <th th:text="${driver.getPenalty_point()}">0</th>
                    </tr>
                  </tbody>
                </table>   
            </div>
            <div class="row">
                <h4 class="table-header">Car Sticker Information</h4>
                <table class="table table-striped table-sm">
                  <thead>
                     <th scope="col">Sticker ID</th>
                     <th scope="col">Plate No</th>
                     <th scope="col">Start Date</th>
                     <th scope="col">isActive</th>
                     <th scope="col">Car Type</th>
                  </thead>
                  <tbody>
                    <tr th:each="sticker: ${stickers}">
                      <th scope="row">123456</th>
                      <th th:text="${sticker.getPlate_no()}">68 BAA 542</th>
                      <th th:text="${sticker.getStart_date()}">25-10-2019</th>
                      <th>Yes</th>
                      <th th:text="${sticker.getCar_type()}">Volkswagen Polo White</th>
                    </tr>
                    <tr>
                      <th scope="row">214365</th>
                      <th>64AAZ584</th>
                      <th>2018-08-10</th>
                      <th>No</th>
                      <th>Polo</th>
                    </tr>
                  </tbody>
                </table>   
            </div>
        </div>
    </div>
    <script th:src="@{/js/homePage.js}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>