<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/home-page.css}">
  <title>Hello, world!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/4b64c3ab5c.js" crossorigin="anonymous"></script>


</head>
<body>

<!-- üst taraf navigasyon bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">

    <a class="navbar-brand" href="#"><i class="fas fa-university text-success"></i> Student Registration System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
                <a class="nav-link current" th:href="'/student/'+${student.getStudent_id()}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " th:href="'/student/'+${student.getStudent_id()}+'/grades'">Grades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Attendances <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Scheduled Assessments <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Transcript <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Curriculum <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="'/student/'+${student.getStudent_id()}+'/course-registration'">Course Registeration<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="'/student/'+${student.getStudent_id()}+'/exchange'">Exchange<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Car Stickers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout/">Logout <i class="fas fa-sign-out-alt"></i><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

    <div class="row" style="width: 100%;">
        <div class="col-2" id="smallStudentInfo">

            <!-- sol taraf öğrenci sectionu -->
            <div class="card w-100 ml-3" style="width: 18rem;">
              <div class="card-header text-center">
                Student Information
              </div>
              <img th:src="@{/assets/vesikalık.jpg}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center" th:text="${student.getFirstname()} + ' ' + ${student.getLastname()}"></h5>
                <h5 class="card-text text-center" th:text="${student.getDept_name()}"></h5>
                <h6 class="card-text text-center" th:text="${student.getStudent_id()}"></h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <table class="table table-striped table-sm info-table">
                      <tbody>
                        <tr>
                          <th scope="row">CGPA</th>
                          <td th:text="${student.getCgpa()}"></td>
                        </tr>
                        <tr>
                          <th scope="row">GPA</th>
                          <td th:text="${student.getGpa()}"></td>
                        </tr>
                        <tr>
                          <th scope="row">Current Semester</th>
                          <td th:text="${student.getCurrent_semester()}"></td>
                        </tr>
                      </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    <table class="table table-striped table-sm info-table">
                      <tbody>
                        <tr>
                          <th scope="row">Mobile Phone:</th>
                          <th th:text="${student.getPhone_number()}"></th>
                        </tr>
                      </tbody>
                    </table>
                </li>
                <li class="list-group-item" >Contact Mail:</li>
                <li class="list-group-item" style="font-size: 75%;" th:text="${student.getMail()}"></li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Update Information <i class="fas fa-user-edit"></i></a>
              </div>
            </div>

        </div>

        <button type="button" class="btn"  id="hideButton"><i class="fas fa-angle-double-left"></i></button>
        <button type="button" class="btn d-none ml-3"  id="showButton"><i class="fas fa-angle-double-right"></i></button>    
        
        <div class="col">
            <div class="row">
                <!-- aldığın dersler -->
                <h6 class="table-header">Courses Taken 2019-2020 Spring Semester</h6>    
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Course Code</th>
                      <th scope="col">Course Name</th>
                      <th scope="col">Instructors</th>
                      <th scope="col">Credits</th>
                      <th scope="col">Links</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="course, itr: ${courses_taken}">
                      <th scope="row" th:text="${course.getCourse_code()} + '-' + ${course.getSection_number()}"></th>
                      <td th:text="${course.getName()}"></td>
                      <td th:text="${course.getFirstname()} + ' ' + ${course.getLastname()}">Ezhan Karaşan</td>
                      <td th:text="${course.getCredits()}"></td>
                      <td>
                        <a href="#"><i class="set fas fa-book-open"></i></a>
                        <a href="#"><i class="set fas fa-tasks"></i></a>
                        <a href="#"><i class="set fab fa-weebly"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="row">
                <h6 class="table-header">Weekly Schedule</h6>
                <!-- ders programı -->
                <table class="table table-striped text-center table-sm" id="week-schedule" style="">
                  <thead>
                    <tr>
                      <th class="smallTh" scope="col-1">Hours</th>
                      <th scope="col-2">Monday</th>
                      <th scope="col-2">Tuesday</th>
                      <th scope="col-2">Wednesday</th>
                      <th scope="col-2">Thursday</th>
                      <th scope="col-2">Friday</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr th:each="i: ${#numbers.sequence(0,8)}">
                        <th cclass="smallTh" scope="row" th:text="${i+8}+':40 - '+${i+9}+':30'">08:40 - 09:30</th>
                        <span  th:each="j: ${#numbers.sequence(0, 4)}" >
                            <span th:switch="${available[j*9+i]}">
                                <span th:case="0">
                                    <td></td>
                                </span>
                                <span th:case="1">
                                        <span th:each="course: ${course_schedules}" >
                                            <span  th:switch="${course.getTimeSlot()}">
                                                <td th:case="${j*9+i}" th:class="'set' + ' ' + 'set-' + ${j+1}">
                                                    <span th:text="${course.getCourse_code()}+'-'+${course.getSection_number()}">
                                                    </span>
                                                    <br>
                                                    <span th:text="${course.getClassroom()}">
                                                    </span>
                                                </td>
                                            </span>
                                        </span >
                                </span>
                            </span>
                        </span >
                      </tr>
                  </tbody>
                </table>
            </div>       
        </div>


    </div>
    <script th:src="@{/js/register.js}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>